/**
 * Root variables
 */
 :root {
	--pmproal--spacing--large: 50px;
	--pmproal--spacing--medium: 30px;
	--pmproal--spacing--small: 10px;
}

.pmpro_level p {
	margin: 0;
	padding: 0;
}

.pmpro_level-description p:not(.pmpro_level-description p:last-of-type) {
	margin-bottom: var(--pmproal--spacing--small);
}

.pmpro_level-price-free {
	font-weight: bold;
}

/** Compare Table Styles */
.pmpro_advanced_levels-compare_table {
	border: none;
}
#pmpro_levels.pmpro_advanced_levels-table h2 {
	margin: 0;
}

.pmpro_advanced_levels-compare_table th,
.pmpro_advanced_levels-compare_table td {
	text-align: center;
}

.pmpro_advanced_levels-compare_table .pmpro_btn,
.pmpro_advanced_levels-compare_table_responsive .pmpro_btn,
.pmpro_advanced_levels-compare_table_responsive .button {
	display: block;
	text-align: center;
	word-break: normal;
}

.pmpro_advanced_levels-compare_table th,
.pmpro_advanced_levels-compare_table td {
	border-color: #d1d1d1;
	border-width: 0 1px 1px 0;
	padding: 0.75em 1em;
	vertical-align: middle;
}

.pmpro_advanced_levels-compare_table thead th,
.pmpro_advanced_levels-compare_table tfoot td {
	border-width: 0 1px 0 0;
}

.pmpro_advanced_levels-compare_table thead tr {
	border: none;
}

.pmpro_advanced_levels-compare_table tr th:last-child,
.pmpro_advanced_levels-compare_table tr td:last-child {
	border-right: none;
}

.pmpro_advanced_levels-compare_table thead tr th:nth-child(even),
.pmpro_advanced_levels-compare_table tbody tr td:nth-child(even) {
	background: rgba(0, 0, 0, 0.02);
}

.pmpro_advanced_levels-compare_table thead tr th:first-child,
.pmpro_advanced_levels-compare_table tfoot tr td:first-child {
	background: none;
	text-indent: -9999em;
	width: 20%;
}

.pmpro_advanced_levels-compare_table thead tr:last-child th,
.pmpro_advanced_levels-compare_table tbody tr:last-child td {
	border-bottom: 0.5rem solid #ccc;
}

.pmpro_advanced_levels-compare_table tbody tr:nth-child(even) td {
	background: rgba(0, 0, 0, 0.05);
}

.pmpro_advanced_levels-compare_table tbody tr td:first-child {
	text-align: right;
}

.pmpro_advanced_levels-compare_table tfoot tr {
	border: none;
}

.pmpro_advanced_levels-compare_table tfoot td {
	padding: 0.75em 1em;
	vertical-align: middle;
}

.pmpro_advanced_levels-compare_table thead th h2 {
	margin: 0;
	padding: 0.5em 0 0 0;
}

.pmpro_advanced_levels-compare_table .pmpro_level-price {
	font-size: 1.6rem;
	padding-bottom: 0;
	padding-top: 0;
}

.pmpro_advanced_levels-compare_table .pmpro_level-expiration {
	font-weight: normal;
}

.pmpro_advanced_levels-compare_table .pmpro_level-compare-true,
.pmpro_advanced_levels-compare_table_responsive .pmpro_level-compare-true {
	font-size: 2rem;
	line-height: 2rem;
}

.pmpro_advanced_levels-compare_table .pmpro_level-compare-true:after,
.pmpro_advanced_levels-compare_table_responsive
	.pmpro_level-compare-true:after {
	content: "\2713";
}

.pmpro_advanced_levels-compare_table .pmpro_level-compare-false,
.pmpro_advanced_levels-compare_table_responsive .pmpro_level-compare-false {
	color: rgba(0, 0, 0, 0.2);
}

.pmpro_advanced_levels-compare_table .pmpro_level-compare-false:after,
.pmpro_advanced_levels-compare_table_responsive
	.pmpro_level-compare-false:after {
	content: "\002D";
}

.pmpro_advanced_levels-compare_table_responsive {
	display: none;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.pmpro_advanced_levels-compare_table {
		display: none;
	}
	.pmpro_advanced_levels-compare_table_responsive {
		display: block;
	}
}

/** Table Styles */
.pmpro_advanced_levels-table {
	margin-bottom: var(--pmproal--spacing--large);
}

.pmpro_advanced_levels-table th,
.pmpro_advanced_levels-table td {
	padding: var(--pmproal--spacing--small);
	vertical-align: top;
}

.pmpro_advanced_levels-table tbody th,
.pmpro_advanced_levels-table tbody td {
	padding-top: calc( var(--pmproal--spacing--medium) / 2 );
	padding-bottom: calc( var(--pmproal--spacing--medium) / 2 );
}

.pmpro_advanced_levels-table thead th,
.pmpro_advanced_levels-table tbody th {
	text-align: left;
}

.pmpro_advanced_levels-table .pmpro_btn {
	min-width: 5em;
}

/** Div and Column Styles */
.pmpro_advanced_levels-div {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--pmproal--spacing--large);
}

.pmpro_advanced_levels-div .pmpro_level {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: var(--pmproal--spacing--medium);
	padding: var(--pmproal--spacing--medium);
	width: 100%;
}

.pmpro_advanced_levels-div h2 {
	margin: 0;
	padding: 0;
}

/* No Column (Div) Layout */
.pmpro_advanced_levels-div .pmpro_level-meta {

}
.pmpro_advanced_levels-div .pmpro_level-meta p {
	display: inline;	
}

.pmpro_advanced_levels-div .pmpro_level-meta .pmpro_btn {
	float: right;
	margin-left: var(--pmproal--spacing--medium);
}

/* 2 Column Layout */
.pmpro_levels-2col .pmpro_level {
	flex: 0 0 50%;
}

/* 3 Column Layout */
.pmpro_levels-3col .pmpro_level {
	flex: 0 0 33.3333%;
	text-align: center;
}

.pmpro_levels-3col .pmpro_level-description,
.pmpro_levels-3col .pmpro_level ul {
	text-align: left;
}

.pmpro_levels-3col .pmpro_btn {
	display: block;
}

/* 4 Column Layout */
.pmpro_levels-4col .pmpro_level {
	flex: 0 0 25%;
	text-align: center;
}

.pmpro_levels-3col .pmpro_level-description,
.pmpro_levels-4col .pmpro_level ul {
	text-align: left;
}

.pmpro_levels-4col .pmpro_btn {
	display: block;
	text-wrap: normal;
}


/* Column Layout Responsive Styles */
@media only screen and (min-width: 960px) and (max-width: 1160px) {
	.pmpro_levels-4col .pmpro_level {
		flex: 0 0 33.3333%;
	}
}

@media only screen and (min-width: 769px) and (max-width: 959px) {
	.pmpro_levels-3col .pmpro_level,
	.pmpro_levels-4col .pmpro_level {
		flex: 0 0 50%;
	}
}

@media (max-width: 768px) {
	.pmpro_advanced_levels-div .pmpro_level {
		flex: 0 0 100%;
	}
}
