@charset "UTF-8";
/* CSS Document */
.pmpro_advanced_levels-genesis .pmpro_level.one-third, .pmpro_advanced_levels-genesis .pmpro_level.one-fourth, .pmpro_advanced_levels-gantry .pmpro_level.span4, .pmpro_advanced_levels-gantry .pmpro_level.span3, .pmpro_advanced_levels-woothemes .pmpro_level.threecol-one, .pmpro_advanced_levels-woothemes .pmpro_level.fourcol-one, .pmpro_advanced_levels-div .text-center, .pmpro_advanced_levels-compare_table th, .pmpro_advanced_levels-compare_table td {text-align: center; }
table.pmpro_advanced_levels-genesis .button, .pmpro_advanced_levels-genesis .pmpro_level.one-third .button, .pmpro_advanced_levels-genesis .pmpro_level.one-fourth .button, table.pmpro_advanced_levels-foundation .button, .pmpro_advanced_levels-foundation .pmpro_level.medium-4 .button, .pmpro_advanced_levels-foundation .pmpro_level.medium-3 .button, table.pmpro_advanced_levels-gantry .btn, table.pmpro_advanced_levels-woothemes .woo-sc-button, .pmpro_advanced_levels-woothemes .pmpro_level.threecol-one .woo-sc-button, .pmpro_advanced_levels-woothemes .pmpro_level.fourcol-one .woo-sc-button, table.pmpro_advanced_levels-twentyfourteen .button, .pmpro_advanced_levels-table .pmpro_btn,  .pmpro_advanced_levels-div .text-center .pmpro_btn, table.pmpro_advanced_levels-bootstrap .btn, .pmpro_advanced_levels-compare_table .pmpro_btn, .pmpro_advanced_levels-compare_table_responsive .pmpro_btn, .pmpro_advanced_levels-compare_table_responsive .button {display: block; text-align: center; word-break: normal; }
#pmpro_levels .pmpro_btn:hover {-webkit-box-shadow: none; box-shadow: none; }
.pmpro_advanced_levels-compare_table {border: none; }
#pmpro_levels.pmpro_advanced_levels-table h2 {margin: 0; }
.pmpro_advanced_levels-compare_table th, .pmpro_advanced_levels-compare_table td {border-color: #d1d1d1; border-width: 0 1px 1px 0; padding: .75em 1em; vertical-align: middle; }
.pmpro_advanced_levels-compare_table thead th, .pmpro_advanced_levels-compare_table tfoot td {border-width: 0 1px 0 0; }
.pmpro_advanced_levels-compare_table thead tr {border: none; }
.pmpro_advanced_levels-compare_table tr th:last-child, .pmpro_advanced_levels-compare_table tr td:last-child {border-right: none; }
.pmpro_advanced_levels-compare_table thead tr th:nth-child(even), .pmpro_advanced_levels-compare_table tbody tr td:nth-child(even) {background: rgba(0,0,0,0.02); }
.pmpro_advanced_levels-compare_table thead tr th:first-child, .pmpro_advanced_levels-compare_table tfoot tr td:first-child {background: none; text-indent: -9999em; width: 20%; }
.pmpro_advanced_levels-compare_table thead tr:last-child th, .pmpro_advanced_levels-compare_table tbody tr:last-child td {border-bottom: .5rem solid #CCC; }
.pmpro_advanced_levels-compare_table tbody tr:nth-child(even) td {background: rgba(0,0,0,0.05); }
.pmpro_advanced_levels-compare_table tbody tr td:first-child {text-align: right; }
.pmpro_advanced_levels-compare_table tfoot tr {border: none; }
.pmpro_advanced_levels-compare_table tfoot td {padding: .75em 1em; vertical-align: middle; }
.pmpro_advanced_levels-compare_table thead th h2 {margin: 0; padding: .5em 0 0 0; }
.pmpro_advanced_levels-compare_table .pmpro_level-price {font-size: 1.6rem; padding-bottom: 0; padding-top: 0; }
.pmpro_advanced_levels-compare_table .pmpro_level-expiration {font-weight: normal; }
.pmpro_advanced_levels-compare_table .pmpro_level-compare-true, .pmpro_advanced_levels-compare_table_responsive .pmpro_level-compare-true {font-size: 2rem; line-height: 2rem; }
.pmpro_advanced_levels-compare_table .pmpro_level-compare-true:after, .pmpro_advanced_levels-compare_table_responsive .pmpro_level-compare-true:after {content: "\2713"; }
.pmpro_advanced_levels-compare_table .pmpro_level-compare-false, .pmpro_advanced_levels-compare_table_responsive .pmpro_level-compare-false {color: rgba(0,0,0,0.2); }
.pmpro_advanced_levels-compare_table .pmpro_level-compare-false:after, .pmpro_advanced_levels-compare_table_responsive .pmpro_level-compare-false:after {content: "\002D"; }

/* Styles for Bootstrap Template */
table.pmpro_advanced_levels-bootstrap h2 {margin-top: 0; }
.pmpro_advanced_levels-bootstrap .panel-heading h2 {margin: 0; padding: 0; }

/* Styles for Genesis Template */
table.pmpro_advanced_levels-genesis thead th, table.pmpro_advanced_levels-genesis tbody td {padding-right: 10px; padding-left: 10px; }

/* Styles for Gantry Template */
table.pmpro_advanced_levels-gantry h2 {border-bottom: none; box-shadow: none; padding-bottom: 0; }

/* Styles for WooThemes Template */
table.pmpro_advanced_levels-woothemes tbody td {vertical-align: middle; }

/* Styles for Foundation Template */
.pmpro_advanced_levels-foundation .panel .button {margin-bottom: 0; }
.pmpro_advanced_levels-foundation .panel h5.subheader {color: #6f6f6f; }
.pmpro_advanced_levels-foundation .pricing-table .price {font-size: 1rem; }
.pmpro_advanced_levels-foundation .pricing-table .price span {display: block; font-size: 2rem; }

/* Styles for TwentyFourteen Template */
.pmpro_advanced_levels-twentyfourteen .button, .pmpro_advanced_levels-twentyfourteen .button:hover {color: #FFF; }

/* Styles for No Template */
#pmpro_levels.pmpro_advanced_levels-div .post {padding: 1em; }
#pmpro_levels.pmpro_advanced_levels-div h2 {margin: 0 0 .5em 0; }
#pmpro_levels.pmpro_advanced_levels-div .entry-header {margin: 0; padding: 0; }
#pmpro_levels.pmpro_advanced_levels-div .entry-content {padding: 0; }
#pmpro_levels.pmpro_advanced_levels-div .entry-footer {background: none; margin: 0; padding: 1em 0; }
#pmpro_levels.pmpro_advanced_levels-div .entry-footer p {margin: .5em 0; padding: 0; }
.pmpro_advanced_levels-compare_table_responsive {display: none; text-align: center; }

@media only screen and (max-width: 767px) {
	.pmpro_advanced_levels-compare_table {display: none; }
	.pmpro_advanced_levels-compare_table_responsive {display: block; }
}

.pmpro_advanced_levels-div .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 73.125em; }
  .pmpro_advanced_levels-div .row:before, .pmpro_advanced_levels-div .row:after {
    content: " ";
    display: table; }
  .pmpro_advanced_levels-div .row:after {
    clear: both; }
  .pmpro_advanced_levels-div .column,
  .pmpro_advanced_levels-div .columns {
    position: relative;
    float: left; }

.pmpro_advanced_levels-div [class*="column"] + [class*="column"]:last-child {
  float: right; }

.pmpro_advanced_levels-div [class*="column"] + [class*="column"].end {
  float: left; }

.pmpro_advanced_levels-div .small-12 {
  width: 100%; }

@media only screen and (min-width: 40.063em) {
  .pmpro_advanced_levels-div .medium-1 {
    width: 8.33333%; }

  .pmpro_advanced_levels-div .medium-2 {
    width: 16.66667%; }

  .pmpro_advanced_levels-div .medium-3 {
    width: 25%; }

  .pmpro_advanced_levels-div .medium-4 {
    width: 33.33333%; }

  .pmpro_advanced_levels-div .medium-5 {
    width: 41.66667%; }

  .pmpro_advanced_levels-div .medium-6 {
    width: 50%; }

  .pmpro_advanced_levels-div .medium-7 {
    width: 58.33333%; }

  .pmpro_advanced_levels-div .medium-8 {
    width: 66.66667%; }

  .pmpro_advanced_levels-div .medium-9 {
    width: 75%; }

  .pmpro_advanced_levels-div .medium-10 {
    width: 83.33333%; }

  .pmpro_advanced_levels-div .medium-11 {
    width: 91.66667%; }

  .pmpro_advanced_levels-div .medium-12 {
    width: 100%; }
}